{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
{% include 'catalog/includes/inc_header.html' %}
<div class="row">
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">RUR {{ object.price }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <img src="{% mediapath object.preview %}" class="img-fluid rounder-start">
                    <li> {{ object.description }}</li>
                    <li> Категория: {{ object.category }}</li>
                    <li> Дата создания: {{ object.created_at }}</li>
                    <li> Дата последнего изменения: {{ object.changed_at }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}